<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-image: url('https://eccosys.com.br/guia/wp-content/uploads/2021/07/Gestao-de-estoque-eficiente.jpg');
            background-size: cover;
            background-position: center;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card {
            width: 300px;
            padding: 20px;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.7);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            text-align: center;
            margin: auto; 
        }

        .button {
            width: 100%;
            height: 40px;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            text-align: center;
            line-height: 40px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-top: 10px;
        }

            .button:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <div class="card">
        <h2>Escolha uma opção</h2>
        <a asp-area="" asp-controller="Produtoes" asp-action="Index" class="button">Cadastrar Produtos</a> <!-- Opção "Produtos" -->
        <a asp-area="" asp-controller="Funcionarios" asp-action="Index" class="button">Cadastrar Funcionarios</a> <!-- Opção "Funcionários" -->
    </div>
</body>
</html>
