<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @* <title>@ViewData["Title"] - ControleVendas</title> *@
    <div id="caixaImagem">
        <img id="Imagem-Create" src="https://cdn-pt.checklistfacil.com/checklistfacil-6-melhores-praticas-para-realizar-uma-gestao-de-estoque-na-industria.jpg" alt="Minha Imagem"  >
     </div>
   


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ControleVendas.styles.css" asp-append-version="true" />
</head>
<body>
    <header>



       
        <button id="botaoImagem3" class="btn " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            <img id="Imagem-Create3" src="~/barra-de-menu.png" >
        </button>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Estoques SA</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div>
                   Seja bem-vindo, ao site da Empresa estoques S.A.
                </div>
                <div class="dropdown mt-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        Opções de Menu.
                    </button>
                    <ul class="dropdown-menu">

                        
                         <li >
                        <a  asp-area="" asp-controller="Adms" asp-action="Index">Login</a>
                        </li> 

                        <li><a class="dropdown-item" href="#">Cadastrar Vendas</a></li>
                        <li><a class="dropdown-item" href="#">Linha do Tempo</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ControleVendas - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
